<div class="col-md-4">
    <div class="card mb-4 coasters-card">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-length">{{length}}</p>
            <p class="card-inversions">{{inversions}}</p>
        </div>
    </div>
</div>