<div class="col-md-3 mb-3   ">
    <div class="card " style="width: 18rem; height:100%;">
        <img src={{imageUrl}} class="card-img-top" style="height:30%;" alt="...">
        <div class="card-body" style="height: 100%;">
            <h5 class="card-title">{{title}}</h5>
            <p><strong>LENGTH: </strong>{{length}}</p>
            <p>INVERSORS: {{inversions}}</p>
            <p class="card-text" style="height: 10%;">{{description}}</p>
        </div>
    </div>
</div>