<div class="card mb-3 coaster-card">

    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">

    <div class="card-body">

        <h3 class="card-title">{{title}}</h3>
        <h5>{{length}} meters</h5>
        <h5>{{inversions}} inversions</h5>

    </div>

    <p>{{description}}</p>

</div>