<div class='container mt-5'>
  <div class='row justify-content-center'>

    {{#each coasters}}
      <div class='accordion col-lg-4 col-md-6 mb-4'>
        <div class='accordion-item'>
          <img src='{{imageUrl}}' alt='{{title}}' />
          <div class='accordion-body'>
            <h3>{{title}}</h3>
            <p>Length: {{length}}</p>
            <p>Inversions: {{inversions}}</p>
          </div>
        </div>
        <div class='accordion-item'>
          <h2 class='accordion-header' id='panelsStayOpen-heading{{_id}}'>
            <button
              class='accordion-button collapsed'
              type='button'
              data-bs-toggle='collapse'
              data-bs-target='#panelsStayOpen-collapse{{_id}}'
              aria-expanded='false'
              aria-controls='panelsStayOpen-collapse{{_id}}'
            >
              Description
            </button>
          </h2>
          <div
            id='panelsStayOpen-collapse{{_id}}'
            class='accordion-collapse collapse'
            aria-labelledby='panelsStayOpen-heading{{_id}}'
          >
            <div class='accordion-body'>
              {{description}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>