<div class="card mb-3 py-3" style="max-width: 540px;">
    <div class="row g-0 justify-content-around align-self-center">
        <div class="col-md-5 beer-img mx-2">
            <img src="{{imageUrl}}" class="img-fluid rounded-start mx-3" alt="{{title}}">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text my-2">{{description}}</p>
                <p class="card-title my-3"><strong>Length:</strong> {{length}}m</p>
                <p class="card-title my-3"><strong>Inversions:</strong> {{inversions}}</p>
            </div>
        </div>
    </div>
</div>