<div class="col-4">
    <div class="card">
        <div class="m-2">
            <img src="{{imageUrl}}" class="card-img-top card-img" alt="{{title}}">
        </div>
        <div class="card-body">
            <h5>{{title}}</h5>
            <h6>Longitud: {{length}}</h6>
            <h6>Inversiones: {{inversions}}</h6>
            <p class="truncate">{{description}}
            </p>
            <a href="/coasters-gallery/{{id}}" class="card-link">Vista completa</a>
        </div>
    </div>
</div>