<div class="col-md-4">
    <div class="card mb-4 beer-card">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-tagline">Length : {{length}}</h6>
            <p class="card-text">Inversions: {{inversions}}</p>
            <p class="card-description">{{description}}</p>
        </div>
    </div>
</div>