<div class="card col-md-3" style="width: 18rem;">
    <img class="card-img-top" src={{imageUrl}} alt={{title}}>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        {{!-- <p class="card-text">{{description}}</p> --}}
        <hr>




        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Show Details!
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{description}}
            </div>
        </div>





        <p class="card-text">Length :{{length}}</p>
        <p class="card-text">Inversions :{{inversions}}</p>
    </div>
</div>