<div class="container">
	<div class="row d-flex justify-content-around">
		{{#each coasters}}
		<div class="card col-md-5 m-2">
			<img src="{{imageUrl}}" class="card-img-top p-4" alt="{{title}}">
			<div class="card-body">
				<h5 class="card-title">{{title}}</h5>
				<p class="card-text">{{description}}</p>
				<hr>
				<p class="card-text">Length: {{length}}</p>
				<p class="card-text">Inversions: {{inversions}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</div>