<div class="col">

    <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">Longitud: {{length}}</p>
            <p class="card-text">Inversiones: {{inversions}}</p>
        </div>

    </div>

</div>