<div class="card" style="width: 18rem;">
    <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h1 class="card-title">{{title}}</h1>
        <p class="card-text">{{description}}</p>
        <h2>Properties</h2>
        <ul>
            <li>Length: {{length}}</li>
            <li>Inversions: {{inversions}}</li>
        </ul>
    </div>
</div>