<div class="container">

    <div class="coasters-page">

        <div class="row">
            {{#each coaster}}

            <div class="card" style="width: 17rem;">

                <img src="{{imageUrl}}" alt="{{title}}">

                <div class="card-body">
                    <h1>{{title}}</h1>
                    <p class="description">{{description}}</p>
                    <h5>Length: {{length}}</h5>
                    <p class="inversions">Inversions: {{inversions}}</p>
                </div>
            </div>

            {{!-- <div class="card" style="width: 18rem;">
                <img src="{{imageUrl}}" alt="{{title}}" class="mx-auto d-block rounded float-start">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            --}}


            {{/each}}
        </div>
    </div>
</div>