<div class="container mt-5">
    <h1>Las montañas rusas con más inversiones:</h1>
    <hr>

    <div class="row">
        {{#each coasters}}
        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Longitud: {{length}}</p>
                    <p class="card-text">Inversiones: {{inversions}}</p>
                </div>
            </div>

        </div>
        {{/each}}
    </div>

    <a href="/" class="btn btn-dark">Inicio</a>
</div>