<div class="container mt-5 pt-5">
  <div class="row">
        {{#each coaster}}
        <div class="col-12 col-md-6">
            <div class="card m-3">
            <img src="{{imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title text-center">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Length : {{length}} Km</li>
                    <li class="list-group-item">Inversiones: ${{inversions}} Millions</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
  </div>
</div>