<article class="d-flex  flex-column align-items-center p-4">
    <figure class="coaster-img">
        <img src="{{imageUrl}}" alt="{{title}}" srcset="">
    </figure>
    <div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p><strong>Length:</strong> {{length}}m</p>
        <p><strong>Inversions:</strong> {{inversions}}</p>
    </div>
</article>