<div class="container row align-items-start">
    {{#each coaster}}
    {{/each}}

    <div class="col-md-4 col-gd-4 text-center">
        <article class="container">
            <img src = "{{imageUrl}}" alt = "{{title}}" class="mx-auto d-block rounder float-start">
            <h2>{{title}}</h2>
            <p>Description {{description}}</p>
            <p>Has a length of {{length}} meters and {{inversions}} of inversions</p>
        </article>
    </div>
    {{/each}}
</div>