<div class="container">
    <div class="row  ">
        {{#each coaster}}
        <div class="col-md-4">
            <h1>{{title}}</h1>
            <img src="{{imageUrl}}" alt="">
            <p>{{description}}</p>
            <p>{{length}}</p>
            <p>{{inversions}}</p>

        </div>
        {{/each}}


    </div>
</div>