<div class="card mb-3 coaster-card">
    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{title}} {{length}} {{inversions}}</h5>
        <p>{{description}}</p>
    </div>
</div>