<div class="container">

    <h1>Roller Coasters</h1>

    {{!--
    <hr> --}}


    {{#each coaster}}


    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">

    <h5 class="card-title">{{title}} {{length}} {{inversions}}</h5>
    <p>{{description}}</p>





    {{/each}}


</div>