<div class="container">
    <div class="row">
        {{#each coasters}}
        <div class="col-md-4 ">
            <p><img src="{{imageUrl}}" alt="{{title}}" class="coasters"></p>
            <h3>
                <p>{{title}}</p>
            </h3>
            <p>{{description}}</p>
            <p>{{length}}</p>
            <p>{{inversions}}</p>

        </div>
        {{/each}}
    </div>
</div>