<div class="container">
    <h1>These coasters are longer than 1000m!</h1>
    <hr>

    <div class="row">

        {{#each coasters}}

        <div class="col-md-4">

            <div class="card mt-5 coaster-card">
                <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{length}}</p>
                    <p class="card-text">{{inversions}}</p>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>

            {{!-- EQUIVALENCIA CON PARTIALS --}}
            {{!-- {{>playerCard}} --}}


        </div>

        {{/each}}

    </div>


    <hr>
    <a href="/" class="btn btn-dark btn-lg">Back to home</a>
</div>