<h1>Here are the longest coasters!</h1>
<div class="container">

    <div class="row no-gutters">
        {{#each coasters}}
        <div class="col-md-6">
            <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">


            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text"><small class="text-muted">{{length}}</small></p>

            </div>
        </div>
        {{/each}}
    </div>
    <hr>

</div>