<img src="{{themepark.imageUrl}}" class="card-img-top card-img" alt="{{themepark.title}}">
<h5>{{themepark.title}}</h5>
<h6>Longitud: {{themepark.length}}</h6>
<h6>Inversiones: {{themepark.inversions}}</h6>
<p>{{themepark.description}}</p>